<html>
    <head>
        {% if title %}
        <title>{{ title }} - Jobs</title>
        {% else %}
        <title>Jobs</title>
        {% endif %}
    </head>
    <body>
        <div>
            PCAP Agent:
            <a href="/index">Home</a>
            <a href="/search">Search</a>
            <a href="/jobs">Jobs</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        <tr>
            <td>Job ID</td>
            <td>Sensor</td>
            <td>Status</td>
        </tr>
        {% for item in jobsdata %}
        <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[3]}}</td>
        </tr>
        {% endfor %}
        {% endblock %}
    </body>
</html>